<style>
.explain-view {
  max-width: 800px;
  background-color: var(--color-bg);
}

.explain-content {
  font-family: var(--font-mono);
  font-size: 0.7rem;
  background-color: var(--color-bg);
  white-space: pre-wrap;
  overflow-x: auto;
}
</style>

<div class="explain-view">
  <pre class="explain-content">{{ help_str }}</pre>
</div> 