<style>
  .force-graph {
    width: 100%;
    height: 600px;
  }
</style>

<div id="3d-graph" class="force-graph"></div>

<script src="https://unpkg.com/3d-force-graph"></script>

<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three/build/three.module.js"
    }
  }
</script>

<script type="module">
  import SpriteText from "https://unpkg.com/three-spritetext/dist/three-spritetext.mjs";

  const data = {{ graph | tojson | safe }};

  const colorFromType = (type) => {
    switch (type) {
      case "concept":
        return "{{ colors.concept_light }}";
      case "note":
        return "{{ colors.note_light }}";
      case "resource":
        return "{{ colors.resource_light }}";
      default:
        return "{{ colors.white_light }}";
    }
  };

  function wrapText(text, maxLineLength) {
    const words = text.split(' ');
    const lines = [];
    let currentLine = '';

    words.forEach(word => {
      if ((currentLine + word).length <= maxLineLength) {
        currentLine += (currentLine ? ' ' : '') + word;
      } else {
        lines.push(currentLine);
        currentLine = word;
      }
    });
    lines.push(currentLine);

    return lines.join('\n');
  }


  const Graph = ForceGraph3D()(document.getElementById("3d-graph"))
    .graphData(data)
    .nodeLabel("title")
    .nodeColor(node => colorFromType(node.type))
    .linkColor("{{ colors.link_light }}")
    .linkOpacity(1.0)
    .linkAutoColorBy("relationship")
    .nodeThreeObject((node) => {
      const sprite = new SpriteText(wrapText(node.title, 40));
      sprite.material.depthWrite = false; // make sprite background transparent
      sprite.color = colorFromType(node.type);
      sprite.textHeight = 8;
      return sprite;
    })
    .onNodeClick((node, event) => {
      if (node.url) {
        window.open(node.url, '_blank');
      }
    })
    .onNodeRightClick((node, event) => {
      event.preventDefault();
      if (node.url) {
        window.open(node.url, '_blank');
      }
    });

  // Spread nodes a little wider
  // Graph.d3Force("charge").strength(-120);
</script>
