Screen {
    background: $surface-darken-1;
    &:inline {
        height: 50vh;
    }
}


#prompt {
    height: auto;
}

#tree-view {
    display: none;
    scrollbar-gutter: stable;
    overflow: auto;
    width: auto;
    height: 100%;
    dock: left;
}

WorkspaceBrowser.-show-tree #tree-view {
    display: block;
    max-width: 50%;
}

#content-view {
    display: none;
    overflow: auto scroll;
    min-width: 100%;
}

WorkspaceBrowser.-show-content #content-view {
    display: block;
}

#content {
    width: auto;
}


/*
$main-lighten-2: #c7adff;
$main-lighten-1: #d5bdff;
$main: #ba95fb;
$main-darken-1: #6b3fbd;
$main-darken-2: #491d95;
$main-border-text-color: rgb(229, 255, 189) 70%;
$main-border-color: $main-lighten-1 50%;
$main-border-color-focus: $main-lighten-1 100%;

TextArea {
    padding: 1 2;
    border: round $main-border-color;
    border-title-color: $main-border-text-color;
    border-subtitle-color: $main-border-text-color;
    &:focus {
      border: round $main-border-color-focus;
      border-title-style: bold;
      & .text-area--selection {
        background: $main 60%;
      }
    }
    & .text-area--cursor-line {
      background: $background 0%;
    }
    & .text-area--cursor-gutter {
      background: $background 0%;
    }
    &:focus .text-area--cursor-gutter {
      color: yellowgreen;
      background: $background 0%;
    }
    & .text-area--selection {
      background: $main-lighten-2 25%;
    }
  
    &.selection-mode {
      border: none;
      height: auto;
      max-height: 75vh;
      width: 100%;
      padding: 0;
    }
  }
  */