Screen {
    background: $surface-darken-1;
    &:inline {
        height: 50vh;
    }
}

#tree-view {
    display: none;
    scrollbar-gutter: stable;
    overflow: auto;
    width: auto;
    height: 100%;
    dock: left;
}

WorkspaceBrowser.-show-tree #tree-view {
    display: block;
    max-width: 50%;
}

#content-view {
    display: none;
    overflow: auto scroll;
    min-width: 100%;
}

WorkspaceBrowser.-show-content #content-view {
    display: block;
}

#content {
    width: auto;
}
